.info-block-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #808080A0;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  width: 200px;
  z-index: 1000;
  text-align: center;
}
.info-block-container .center {
  text-align: center;
}

.info-block-container p {
  text-align: left;
}
